/** Main waybar css **/
/** You shouldn't edit this file directly, instead edit the imported files **/

/** just to triggre css refresh **/


/** Imports a color scheme from colors directory **/
@import "colors/wallpaper.css";

/** Imports a layout (style) for bar **/
@import "layouts/outline.css";


/** Sets bar background transparency **/
window#waybar {
    background: alpha(@bar_bg, 0);
}
