/* --- matugen gtk4-colors.css --- */

@define-color accent_color #b9cf83;
@define-color accent_fg_color #151f00;
@define-color accent_bg_color #b9cf83;
@define-color window_bg_color #12140d;
@define-color window_fg_color #e3e3d7;
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color popover_bg_color @window_bg_color;
@define-color popover_fg_color @window_fg_color;
@define-color view_bg_color @window_bg_color;
@define-color view_fg_color @window_fg_color;
@define-color card_bg_color @window_bg_color;
@define-color card_fg_color @window_fg_color;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_border_color @border;
@define-color button #34362d;
@define-color border #b9cf8380;
@define-color accent_hover_glass color-mix(in srgb, @accent_bg_color 15%, transparent);
@define-color accent_selected_glass color-mix(in srgb, @accent_bg_color 30%, transparent);