/* waybar matugen colors */

@define-color bar_bg #12140d;
@define-color bar_fg #e3e3d7;
@define-color module_bg #1f2019; 
@define-color module_fg @bar_fg;
@define-color hover_bg #b9cf83;
@define-color hover_fg #263500;
@define-color border_color #909284;
@define-color launcher @hover_bg;
@define-color special #204e48;
@define-color special_fg @module_fg;
@define-color power #ffb4ab;